.texts{
    display:flex;
    flex-direction: column;
    gap:1.1em;
    margin-bottom: 1.1em;
}

.container{
    display: flex;
    align-items: center;
    gap:1.1em;
    padding: 1.1em;
    border-radius: 5px;
    
}

.top {
    display: flex;
    justify-content: space-between;
}

.imgContainer{
    width: 90%;
    height: 400px;
    position: relative;
}

.thumbnail {
    object-fit: cover;
}

.title{
    width: 90%;
    font-size: 5rem;
    margin-bottom:1rem;
    font-weight: 600;
    color:var(--robin-egg-blue);
}

.desc{
    margin-bottom: 1rem;
    font-weight: 300;
    color:gray;
    width: 90%;
}

.readMoreBtn {
    text-transform: uppercase;
    font-size: 0.9em;
}

.date {
    font-size: 1rem;
    transform: rotate(270deg);
    margin: auto;
}