@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* CSS HEX */
  --bittersweet: #C1292E;
  --timberwolf: #FDFFFC;
  --ivory: #ffffeaff;
  --robin-egg-blue: #235789;
  --maize: #F1D302;
  --text: #161925;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background: var(--timberwolf);
  color: var(--text);
}

.container{
  margin:auto;
  width:1536px;
  padding:0 3rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a{
  text-decoration: none;
  color: var(--bittersweet);
}

button {
  background:var(--robin-egg-blue);
  color:var(--ivory);
  border-radius:5px;
  padding:7px 10px;
  
}

@media (max-width:1536px) {
  .container {
    width:1366px;
  }
}

@media (max-width:1366px) {
  .container {
    width:1280px;
  }
}

@media (max-width:1280px) {
  .container {
    width:1024px;
  }
}

@media (max-width:1024px) {
  .container {
    width:768px;
  }
}

@media (max-width:768px) {
  .container {
    width:640px;
  }
}

@media (max-width:640px) {
  .container {
    width:475px;
  }
}

@media (max-width:475px) {
  .container {
    width:380px;
  }
}