.container{
    display: flex;
    gap:1rem;
}

.textContainer{
    flex:1;

    padding:4rem;
}

.container h1{
    color:var(--bittersweet);
    font-size:9rem;
    letter-spacing: -5px;
    line-height: 8rem;
}

.container p{
    margin-top:2rem;
    font-size:1.4em;
}

.buttons{
    gap:1.2em;
    display: flex;
    margin-top:5rem;
}

.heroImg {
    border-radius: 7rem;
} 

.buttons button{
    background:var(--robin-egg-blue);
    padding:20px;
    border:none;
}

.button:last-child {
    background:var(--ivory);
    color:var(--text);
}

.brands {
    position:relative;
    width:500px;
    height:50px;
    filter:grayscale(1);
}

.imgContainer{
    position: relative;
    flex:1;
}