.links {
    display:flex;
    align-items:center;
    gap:1rem;
}


.logout {
    background:var(--text);
    font-size:0.7em;
    font-weight: bold;
}

.mobileLinks {
    position: absolute;
    top:100px;
    right:0;
    width:50%;
    height:calc(100vh - 100px);
    background: var(--ivory);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    gap:1rem;
    transition: height 0.5s ease-in-out;
}