.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;
}

.wrapper{
    background-color: rgba(0,0,0,0.03);
    width: 600px;
    padding:7rem;
    gap: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:3rem;

}

.title {
    font-size:3rem;
    text-align: center;
    color:var(--bittersweet);
}
