.container {
    display:flex;
    gap: 6.25em;
}

.imgContainer {
    flex: 1;
    position: relative;
    height: calc(100vh - 200px);
}

.img {
    object-fit: cover;
    border-radius: 5rem;
}

.avatar{
    object-fit: cover;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.postContainer {
    display: flex;
    flex: 2;
    flex-direction: column;
    gap:3rem;
}

.title{
    font-size: 64px;
    line-height: 4rem;
    color: var(--robin-egg-blue);
}

.details {
    display: flex;
    flex-direction: row;
    gap: 1.3rem;
}

.detailText {
    display: flex;
    flex-direction: column;
    gap:0.4em;
}

.detailTitle {
    font-weight: 600;
    color:var(--robin-egg-blue);
    font-size:1.1em;
}

.detailValue{
    font-weight: 300;
    font-size:1rem;
}

.content {
    font-size:1.1em;
}

@media (max-width: 768px) {
    .imgContainer {
        display: none;
    }
}